<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Welcome to The Weather Viewer App! <br><br>It is a webapp made using Node.js, HTML, CSS, and Handlebars. You can use it to view forecasts and webcams 
            from locations all around the world.<br><br>
            The top priority enhancement I want to implement is making my website more mobile friendly. After that it would be a great project to add users who can save favourite locations they can check, and add location suggestions to the search bar.</p>
    </div>

    {{>footer}}
</body>


</html>