<footer>
     <p style="text-align:left;">Created by {{name}}
          <span style="float:right;">
               Webcams provided by <a href="https://www.windy.com/" target="_blank">windy.com</a> &mdash; <a href="https://www.windy.com/webcams/add" target="_blank">add a webcam</a>
          </span>
     </p>
</footer>
